.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

.logo img {
  max-width: 100px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 10px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu a {
  text-decoration: none;
  color: black;
  padding: 5px;
}
